.currency-management {
  display: flex;
  margin: 15px 0;
}

.input {
  margin: 0 30px;
  border: 1px solid #3F51B5;
}

.currency-management .btn {
  width: 100px;
  font-size: 20px;
  margin: 0 5px;
}

.p {
  font-size: 16px;
  font-weight: bolder;
}