.calc-input-block .input-wrapper {
  border: 1px solid #3F51B5;
  margin: 20px 0px;
  padding: 15px;
}

.btn-nav {
  font-size: 30px;
  border: 1px solid #3F51B5;
}

.btn {
  padding: 5px;
}

.input {
  width: 100%;
}