* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Roboto", regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
